body {
    background-color: #1a1a1a;
    color: white;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
span,
.labels {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    margin-top: 13%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0%;
}

h2 {
    margin-top: 0%;
    color: #ffffff66;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: underline;
}

span {
    margin-top: 5%;
    font-size: 1.8rem;
    padding: 5%;
    border-radius: 12px;
    background-color: transparent;
}

span:hover {
    background-color: #282828;
}

span:active {
    background-color: #3a3a3a;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* Ancien Edge */
>>>>>>>>> Temporary merge branch 2
}
