body {
    background-color: #1a1a1a;
    color: white;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
span,
.labels {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    margin-top: 13%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0%;
}

h2 {
    margin-top: 0%;
    color: #ffffff66;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: underline;
}

span {
    margin-top: 5%;
    font-size: 1.8rem;
    padding: 5%;
    border-radius: 12px;
    background-color: transparent;
}

span:hover {
    background-color: #282828;
}

span:active {
    background-color: #3a3a3a;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* Ancien Edge */
}

#canva {
    height: 100%;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* flex-direction: column; */
}

.mapselector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.mapselector>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maps {
    width: 70%;
    margin: 0 2%;
}

.labels {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selected {
    transition: all 0.5s ease;
    border: 2px solid rgb(0, 166, 255);
    transform: scale(1.05);
    margin-bottom: 5%;
}

.titlemaps {
    margin: 4%;
    font-size: 2rem;
    font-weight: 700;
    text-underline-offset: 0.75rem;
    color: white;
}

.maps:hover {
    box-shadow: 0 0 10px rgb(0, 166, 255);
}

.play-button {
    background-color: transparent;
    border: #1a1a1a solid 1.5px;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.play-button:hover {
    transform: scale(1.2);
}

.play-button:active {
    transform: scale(0.8);

}


/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}